datacenter = "{{ nomad_datacenter }}"
region = "{{ nomad_region }}"
data_dir = "{{ nomad_data_dir }}"
log_file = "{{ nomad_log_dir }}/nomad.log"
log_level = "INFO"
bind_addr = "{{ nomad_bind_addr }}"

advertise {
  http = "{{ nomad_advertise_addr }}"
  rpc = "{{ nomad_advertise_addr }}"
  serf = "{{ nomad_advertise_addr }}"
}

ports {
  http = {{ nomad_ports.http }}
  rpc = {{ nomad_ports.rpc }}
  serf = {{ nomad_ports.serf }}
}

leave_on_terminate = {{ nomad_leave_on_terminate | lower }}
leave_on_interrupt = {{ nomad_leave_on_interrupt | lower }}